.image {
    width: 100%;
    min-width: 250px;
    height: 180px;
    position: relative;  
}
.image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  
}
.noImage{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.image-col{
    width: 250px;
    height: 180px;
}
.image-col img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  
}